<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Студент</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="qwe row justify-content-center">
        <div class="card border-primary home-card">
            <div class="card-header">Онлайн Деканат</div>
            <div class="card-body">
                <div class="btn-group-vertical home-btn-group">
                    <a href="/student/create" class="btn btn-primary" role="button">Добавить студента</a>
                    <a href="/student/search" class="btn btn-primary" role="button">Поиск</a>
                    <a href="/student/expelled" class="btn btn-primary" role="button">Отчисленные</a>
                    <a href="/student/conf" class="btn btn-primary" role="button">Учавствовавшие в конференциях</a>
                    <a href="/student/search" class="btn btn-primary" role="button">Средний балл</a>
                    <a href="/student/headman" class="btn btn-primary" role="button">Старосты</a>
                    <a href="/student/curator" class="btn btn-primary" role="button">Кураторы</a>
                    <a href="/menu" class="btn btn-primary" role="button">Главное меню</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>