<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parameters for searching</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="card border-primary home-card">
            <div class="card-header">Поиск</div>
            <form th:action="@{/student/result}" th:object="${searchCriteria}" method="get">
                <div class="card-body">
                    <div class="row my-3">
                        <div class="col-4">
                            <label>Курс</label>
                            <input th:field="*{course}" class="form-control" type="number" min="1" max="6" placeholder="Курс">
                        </div>
                        <div class="col-4">
                            <label>Кафедра</label>
                            <input th:field="*{department}" class="form-control" type="text" placeholder="Кафедра">
                        </div>
                        <div class="col-4">
                            <label>Группа</label>
                            <input th:field="*{group}" class="form-control" type="text" placeholder="Группа">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-4">
                            <label>Пол</label>
                            <select th:field="*{sex}" class="form-control">
                                <option value="">Не важно</option>
                                <option value="m">Мужской</option>
                                <option value="f">Женский</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Дата рождения</label>
                            <input th:field="*{birthDate}" class="form-control" type="date" placeholder="Дата рождения">
                        </div>
                        <div class="col-4">
                            <div class="form-check">
                                <input th:field="*{hasChildren}" type="checkbox" class="form-check-input">
                                <label class="form-check-label">Есть ли дети</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary dept-input">
                        Поиск
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>