<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="card border-primary home-card">
            <div class="card-header">Поставить оценку</div>
            <form th:action="@{/grade/add}" th:object="${gradeRequest}" method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Преподаватель*</label>
                                <select class="form-control" th:field="*{teacherId}">
                                    <option th:each="teacher : ${teachers}" th:value="${teacher.getKey()}" th:text="${teacher.getValue()}"/>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Студент*</label>
                                <select class="form-control" th:field="*{studentId}">
                                    <option th:each="student : ${students}" th:value="${student.getKey()}" th:text="${student.getValue()}"/>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Учебный план*</label>
                                <select class="form-control" th:field="*{studyPlanId}">
                                    <option th:each="studyPlan : ${studyPlans}" th:value="${studyPlan.getKey()}" th:text="${studyPlan.getValue()}"/>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Оценка*</label>
                                <input th:field="*{grade}" required min="1" max="10" type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary dept-input">
                        Сохранить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>