<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parameters for searching</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="card border-primary home-card">
            <div class="card-header">Поиск ФИО</div>
            <form th:action="@{/teacher/search/by-name/result}" th:object="${fullName}" method="get">
                <div class="card-body">
                    <div class="row my-3">
                        <div class="col-4">
                            <label>Фамилия*</label>
                            <input th:field="*{lastName}" required class="form-control" type="text" placeholder="Фамилия">
                        </div>
                        <div class="col-4">
                            <label>Имя*</label>
                            <input th:field="*{firstName}" required class="form-control" type="text" placeholder="Имя">
                        </div>
                        <div class="col-4">
                            <label>Отчество*</label>
                            <input th:field="*{middleName}" required class="form-control" type="text" placeholder="Отчество">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary dept-input">
                        Поиск
                    </button>
                    <a href="/student" class="btn btn-primary" role="button">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>