<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="card border-primary home-card">
            <div class="card-header">Создать учебный план</div>
            <form th:action="@{/study-plan/create}" th:object="${studyPlan}" method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Название дисциплины*</label>
                                <select class="form-control" th:field="*{disciplineId}">
                                    <option th:each="discipline : ${disciplines}" th:value="${discipline.idDiscipline}" th:text="${discipline.name}"/>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Тип занятия*</label>
                                <select class="form-control" th:field="*{occupationTypeId}">
                                    <option th:each="occup : ${occupations}" th:value="${occup.idOccupation}" th:text="${occup.name}"/>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Часы*</label>
                                <input th:field="*{hours}" required min="1" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Курс*</label>
                                <input th:field="*{course}" required min="1" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Семестр*</label>
                                <input th:field="*{semestr}" required min="1" type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary dept-input">
                        Сохранить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>